@import url("style_index.css");
@import url("media.css");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background: linear-gradient(90deg, #f3de8a, #e7966a);		
}
a{
	text-decoration: none;
	color: #109a88;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.pantalla {		
	background: linear-gradient(90deg, #f3de8a, #e7966a);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px white;
}

.pantallaContenido {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.fondo {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.pantallaFondo {
	transform: rotate(45deg);
	position: absolute;
}

.pantallaFondo1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.login {
	width: 360px;
	padding: 30px;
	padding-top: 156px;
}

.loginCampo {
	padding: 20px 0px;	
	position: relative;	
}

.loginInput {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	color: #109a88;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.loginInput:active,
.loginInput:focus,
.loginInput:hover {
	outline: none;
	border-bottom-color: #109a88;
}

.loginSubmit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	text-align: center;
	align-items: center;
	width: 100%;
	color: #109a88;
	box-shadow: 0px 2px 2px #e7966a;
	cursor: pointer;
	transition: .2s;
}

.loginDoble{
	display: flex;
}

.loginRecordar {	
	text-align: center;
	margin-top: 47px;
	margin-right: 20px;
	color: #109a88;
}

.checkRecordar{
	margin-top: 32px;
	margin-right: 10px;

}
.loginSubmit:active,
.loginSubmit:focus,
.loginSubmit:hover {
	border-color: #17d5bb;
	outline: none;
}

.register {	
	position: absolute;
	text-align: center;
	bottom: 40px;
	right: 30px;
	color: #fff;
}