@import url("style_index.css");
@import url("cssLogin.css");
@import url("media.css");

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #f3de8a, #e7966a);		
  font-family: Arial, Helvetica, sans-serif;
}

.forma {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.form {
	background:#e7966a;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}
  
.title {
    font-size: 50px;
    margin-bottom: 60px;
    text-align: center;
}

.contenedor {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 20px;
}

#input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}
  
::placeholder {
    color: transparent;
    visibility: hidden;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
	background:  #e7966a;		
    color: #000000;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.signup {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #f44336;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    transition: width 0.8s;
}
  
.signup:hover {
    width: 160px;
    height: 60px;
    background-color: black;
    color: white;
}

#input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #17d5bb;
}

#input:focus {
    border: 2px solid #17d5bb;
}

/* Para que se le quite el color a las etiquetas
una vez se haya escrito y se pase a otra*/

#input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}
